@import "tailwindcss";

html, body { height: 100%; /* ensure they cover full viewport */ 
  margin: 0; /* remove default margin */ 
  background-color: black; /* set background to black */
  margin: 5px;
  }